=begin
#Jamf Pro API

### Overview The Jamf Pro API is a RESTful API for Jamf Pro built to enable consistent and efficient programmatic access to Jamf Pro.<br/><br/> The swagger schema can be found [here](/api/schema/). 

The version of the OpenAPI document: production

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.1.0-SNAPSHOT

=end

require 'cgi'

module JamfPro
  class AdvancedMobileDeviceSearchesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get Mobile Device Advanced Search criteria choices 
    # Gets Mobile Device Advanced Search criteria choices. A list of potentially valid choices can be found by navigating to the Criteria page of the Advanced Mobile Device Search creation process. A few are \"App Name\", \"Building\", and \"Display Name\". 
    # @param criteria [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :site  (default to '-1')
    # @option opts [String] :contains  (default to 'null')
    # @return [AdvancedSearchCriteriaChoices]
    def v1_advanced_mobile_device_searches_choices_get(criteria, opts = {})
      data, _status_code, _headers = v1_advanced_mobile_device_searches_choices_get_with_http_info(criteria, opts)
      data
    end

    # Get Mobile Device Advanced Search criteria choices 
    # Gets Mobile Device Advanced Search criteria choices. A list of potentially valid choices can be found by navigating to the Criteria page of the Advanced Mobile Device Search creation process. A few are \&quot;App Name\&quot;, \&quot;Building\&quot;, and \&quot;Display Name\&quot;. 
    # @param criteria [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :site  (default to '-1')
    # @option opts [String] :contains  (default to 'null')
    # @return [Array<(AdvancedSearchCriteriaChoices, Integer, Hash)>] AdvancedSearchCriteriaChoices data, response status code and response headers
    def v1_advanced_mobile_device_searches_choices_get_with_http_info(criteria, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdvancedMobileDeviceSearchesApi.v1_advanced_mobile_device_searches_choices_get ...'
      end
      # verify the required parameter 'criteria' is set
      if @api_client.config.client_side_validation && criteria.nil?
        fail ArgumentError, "Missing the required parameter 'criteria' when calling AdvancedMobileDeviceSearchesApi.v1_advanced_mobile_device_searches_choices_get"
      end
      # resource path
      local_var_path = '/v1/advanced-mobile-device-searches/choices'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'criteria'] = criteria
      query_params[:'site'] = opts[:'site'] if !opts[:'site'].nil?
      query_params[:'contains'] = opts[:'contains'] if !opts[:'contains'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdvancedSearchCriteriaChoices'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"AdvancedMobileDeviceSearchesApi.v1_advanced_mobile_device_searches_choices_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdvancedMobileDeviceSearchesApi#v1_advanced_mobile_device_searches_choices_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove specified Advanced Search objects 
    # Removes specified Advanced Search Objects 
    # @param ids [Ids] ids of the building to be deleted
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def v1_advanced_mobile_device_searches_delete_multiple_post(ids, opts = {})
      v1_advanced_mobile_device_searches_delete_multiple_post_with_http_info(ids, opts)
      nil
    end

    # Remove specified Advanced Search objects 
    # Removes specified Advanced Search Objects 
    # @param ids [Ids] ids of the building to be deleted
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def v1_advanced_mobile_device_searches_delete_multiple_post_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdvancedMobileDeviceSearchesApi.v1_advanced_mobile_device_searches_delete_multiple_post ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling AdvancedMobileDeviceSearchesApi.v1_advanced_mobile_device_searches_delete_multiple_post"
      end
      # resource path
      local_var_path = '/v1/advanced-mobile-device-searches/delete-multiple'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(ids)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"AdvancedMobileDeviceSearchesApi.v1_advanced_mobile_device_searches_delete_multiple_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdvancedMobileDeviceSearchesApi#v1_advanced_mobile_device_searches_delete_multiple_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Advanced Search objects 
    # Gets Advanced Search Objects 
    # @param [Hash] opts the optional parameters
    # @return [AdvancedSearchSearchResults]
    def v1_advanced_mobile_device_searches_get(opts = {})
      data, _status_code, _headers = v1_advanced_mobile_device_searches_get_with_http_info(opts)
      data
    end

    # Get Advanced Search objects 
    # Gets Advanced Search Objects 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdvancedSearchSearchResults, Integer, Hash)>] AdvancedSearchSearchResults data, response status code and response headers
    def v1_advanced_mobile_device_searches_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdvancedMobileDeviceSearchesApi.v1_advanced_mobile_device_searches_get ...'
      end
      # resource path
      local_var_path = '/v1/advanced-mobile-device-searches'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdvancedSearchSearchResults'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"AdvancedMobileDeviceSearchesApi.v1_advanced_mobile_device_searches_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdvancedMobileDeviceSearchesApi#v1_advanced_mobile_device_searches_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove specified Advanced Search object 
    # Removes specified Advanced Search Object 
    # @param id [String] instance id of advanced search record
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def v1_advanced_mobile_device_searches_id_delete(id, opts = {})
      v1_advanced_mobile_device_searches_id_delete_with_http_info(id, opts)
      nil
    end

    # Remove specified Advanced Search object 
    # Removes specified Advanced Search Object 
    # @param id [String] instance id of advanced search record
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def v1_advanced_mobile_device_searches_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdvancedMobileDeviceSearchesApi.v1_advanced_mobile_device_searches_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AdvancedMobileDeviceSearchesApi.v1_advanced_mobile_device_searches_id_delete"
      end
      # resource path
      local_var_path = '/v1/advanced-mobile-device-searches/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"AdvancedMobileDeviceSearchesApi.v1_advanced_mobile_device_searches_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdvancedMobileDeviceSearchesApi#v1_advanced_mobile_device_searches_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get specified Advanced Search object 
    # Gets Specified Advanced Search Object 
    # @param id [String] id of target Advanced Search
    # @param [Hash] opts the optional parameters
    # @return [AdvancedSearch]
    def v1_advanced_mobile_device_searches_id_get(id, opts = {})
      data, _status_code, _headers = v1_advanced_mobile_device_searches_id_get_with_http_info(id, opts)
      data
    end

    # Get specified Advanced Search object 
    # Gets Specified Advanced Search Object 
    # @param id [String] id of target Advanced Search
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdvancedSearch, Integer, Hash)>] AdvancedSearch data, response status code and response headers
    def v1_advanced_mobile_device_searches_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdvancedMobileDeviceSearchesApi.v1_advanced_mobile_device_searches_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AdvancedMobileDeviceSearchesApi.v1_advanced_mobile_device_searches_id_get"
      end
      # resource path
      local_var_path = '/v1/advanced-mobile-device-searches/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdvancedSearch'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"AdvancedMobileDeviceSearchesApi.v1_advanced_mobile_device_searches_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdvancedMobileDeviceSearchesApi#v1_advanced_mobile_device_searches_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get specified Advanced Search object 
    # Gets Specified Advanced Search Object 
    # @param id [String] id of target Advanced Search
    # @param advanced_search [AdvancedSearch] 
    # @param [Hash] opts the optional parameters
    # @return [AdvancedSearch]
    def v1_advanced_mobile_device_searches_id_put(id, advanced_search, opts = {})
      data, _status_code, _headers = v1_advanced_mobile_device_searches_id_put_with_http_info(id, advanced_search, opts)
      data
    end

    # Get specified Advanced Search object 
    # Gets Specified Advanced Search Object 
    # @param id [String] id of target Advanced Search
    # @param advanced_search [AdvancedSearch] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdvancedSearch, Integer, Hash)>] AdvancedSearch data, response status code and response headers
    def v1_advanced_mobile_device_searches_id_put_with_http_info(id, advanced_search, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdvancedMobileDeviceSearchesApi.v1_advanced_mobile_device_searches_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AdvancedMobileDeviceSearchesApi.v1_advanced_mobile_device_searches_id_put"
      end
      # verify the required parameter 'advanced_search' is set
      if @api_client.config.client_side_validation && advanced_search.nil?
        fail ArgumentError, "Missing the required parameter 'advanced_search' when calling AdvancedMobileDeviceSearchesApi.v1_advanced_mobile_device_searches_id_put"
      end
      # resource path
      local_var_path = '/v1/advanced-mobile-device-searches/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(advanced_search)

      # return_type
      return_type = opts[:debug_return_type] || 'AdvancedSearch'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"AdvancedMobileDeviceSearchesApi.v1_advanced_mobile_device_searches_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdvancedMobileDeviceSearchesApi#v1_advanced_mobile_device_searches_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Advanced Search object 
    # Creates Advanced Search Object 
    # @param advanced_search [AdvancedSearch] 
    # @param [Hash] opts the optional parameters
    # @return [HrefResponse]
    def v1_advanced_mobile_device_searches_post(advanced_search, opts = {})
      data, _status_code, _headers = v1_advanced_mobile_device_searches_post_with_http_info(advanced_search, opts)
      data
    end

    # Create Advanced Search object 
    # Creates Advanced Search Object 
    # @param advanced_search [AdvancedSearch] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(HrefResponse, Integer, Hash)>] HrefResponse data, response status code and response headers
    def v1_advanced_mobile_device_searches_post_with_http_info(advanced_search, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdvancedMobileDeviceSearchesApi.v1_advanced_mobile_device_searches_post ...'
      end
      # verify the required parameter 'advanced_search' is set
      if @api_client.config.client_side_validation && advanced_search.nil?
        fail ArgumentError, "Missing the required parameter 'advanced_search' when calling AdvancedMobileDeviceSearchesApi.v1_advanced_mobile_device_searches_post"
      end
      # resource path
      local_var_path = '/v1/advanced-mobile-device-searches'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(advanced_search)

      # return_type
      return_type = opts[:debug_return_type] || 'HrefResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"AdvancedMobileDeviceSearchesApi.v1_advanced_mobile_device_searches_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdvancedMobileDeviceSearchesApi#v1_advanced_mobile_device_searches_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
