=begin
#Jamf Pro API

### Overview The Jamf Pro API is a RESTful API for Jamf Pro built to enable consistent and efficient programmatic access to Jamf Pro.<br/><br/> The swagger schema can be found [here](/api/schema/). 

The version of the OpenAPI document: production

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.1.0-SNAPSHOT

=end

require 'cgi'

module JamfPro
  class AppStoreCountryCodesPreviewApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Return a list of Countries and the associated Codes 
    # Returns a list of countries and the associated codes that can be use for the App Store locale 
    # @param [Hash] opts the optional parameters
    # @return [CountryCodes]
    def v1_app_store_country_codes_get(opts = {})
      data, _status_code, _headers = v1_app_store_country_codes_get_with_http_info(opts)
      data
    end

    # Return a list of Countries and the associated Codes 
    # Returns a list of countries and the associated codes that can be use for the App Store locale 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CountryCodes, Integer, Hash)>] CountryCodes data, response status code and response headers
    def v1_app_store_country_codes_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppStoreCountryCodesPreviewApi.v1_app_store_country_codes_get ...'
      end
      # resource path
      local_var_path = '/v1/app-store-country-codes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CountryCodes'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"AppStoreCountryCodesPreviewApi.v1_app_store_country_codes_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppStoreCountryCodesPreviewApi#v1_app_store_country_codes_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
