=begin
#Jamf Pro API

### Overview The Jamf Pro API is a RESTful API for Jamf Pro built to enable consistent and efficient programmatic access to Jamf Pro.<br/><br/> The swagger schema can be found [here](/api/schema/). 

The version of the OpenAPI document: production

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.1.0-SNAPSHOT

=end

require 'cgi'

module JamfPro
  class CertificateAuthorityApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Returns X.509 of active Certificate Authority (CA) in DER format
    # Returns X.509 of active Certificate Authority (CA) in DER format
    # @param [Hash] opts the optional parameters
    # @return [File]
    def v1_pki_certificate_authority_active_der_get(opts = {})
      data, _status_code, _headers = v1_pki_certificate_authority_active_der_get_with_http_info(opts)
      data
    end

    # Returns X.509 of active Certificate Authority (CA) in DER format
    # Returns X.509 of active Certificate Authority (CA) in DER format
    # @param [Hash] opts the optional parameters
    # @return [Array<(File, Integer, Hash)>] File data, response status code and response headers
    def v1_pki_certificate_authority_active_der_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CertificateAuthorityApi.v1_pki_certificate_authority_active_der_get ...'
      end
      # resource path
      local_var_path = '/v1/pki/certificate-authority/active/der'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/pkix-cert'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'File'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"CertificateAuthorityApi.v1_pki_certificate_authority_active_der_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CertificateAuthorityApi#v1_pki_certificate_authority_active_der_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns X.509 details of the active Certificate Authority (CA)
    # Returns X.509 details of the active Certificate Authority (CA)
    # @param [Hash] opts the optional parameters
    # @return [CertificateRecord]
    def v1_pki_certificate_authority_active_get(opts = {})
      data, _status_code, _headers = v1_pki_certificate_authority_active_get_with_http_info(opts)
      data
    end

    # Returns X.509 details of the active Certificate Authority (CA)
    # Returns X.509 details of the active Certificate Authority (CA)
    # @param [Hash] opts the optional parameters
    # @return [Array<(CertificateRecord, Integer, Hash)>] CertificateRecord data, response status code and response headers
    def v1_pki_certificate_authority_active_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CertificateAuthorityApi.v1_pki_certificate_authority_active_get ...'
      end
      # resource path
      local_var_path = '/v1/pki/certificate-authority/active'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CertificateRecord'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"CertificateAuthorityApi.v1_pki_certificate_authority_active_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CertificateAuthorityApi#v1_pki_certificate_authority_active_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns active Certificate Authority (CA) in PEM format
    # Returns active Certificate Authority (CA) in PEM format
    # @param [Hash] opts the optional parameters
    # @return [File]
    def v1_pki_certificate_authority_active_pem_get(opts = {})
      data, _status_code, _headers = v1_pki_certificate_authority_active_pem_get_with_http_info(opts)
      data
    end

    # Returns active Certificate Authority (CA) in PEM format
    # Returns active Certificate Authority (CA) in PEM format
    # @param [Hash] opts the optional parameters
    # @return [Array<(File, Integer, Hash)>] File data, response status code and response headers
    def v1_pki_certificate_authority_active_pem_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CertificateAuthorityApi.v1_pki_certificate_authority_active_pem_get ...'
      end
      # resource path
      local_var_path = '/v1/pki/certificate-authority/active/pem'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/pem-certificate-chain'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'File'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"CertificateAuthorityApi.v1_pki_certificate_authority_active_pem_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CertificateAuthorityApi#v1_pki_certificate_authority_active_pem_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns X.509 current Certificate Authority (CA) with provided ID in DER format
    # Returns X.509 current Certificate Authority (CA) with provided ID in DER format
    # @param id [String] UUID of the Certificate Authority (CA)
    # @param [Hash] opts the optional parameters
    # @return [File]
    def v1_pki_certificate_authority_id_der_get(id, opts = {})
      data, _status_code, _headers = v1_pki_certificate_authority_id_der_get_with_http_info(id, opts)
      data
    end

    # Returns X.509 current Certificate Authority (CA) with provided ID in DER format
    # Returns X.509 current Certificate Authority (CA) with provided ID in DER format
    # @param id [String] UUID of the Certificate Authority (CA)
    # @param [Hash] opts the optional parameters
    # @return [Array<(File, Integer, Hash)>] File data, response status code and response headers
    def v1_pki_certificate_authority_id_der_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CertificateAuthorityApi.v1_pki_certificate_authority_id_der_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CertificateAuthorityApi.v1_pki_certificate_authority_id_der_get"
      end
      # resource path
      local_var_path = '/v1/pki/certificate-authority/{id}/der'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/pkix-cert', 'application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'File'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"CertificateAuthorityApi.v1_pki_certificate_authority_id_der_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CertificateAuthorityApi#v1_pki_certificate_authority_id_der_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns X.509 details of Certificate Authority (CA) with provided ID
    # Returns X.509 details of Certificate Authority (CA) with provided ID
    # @param id [String] UUID of the Certificate Authority (CA)
    # @param [Hash] opts the optional parameters
    # @return [CertificateRecord]
    def v1_pki_certificate_authority_id_get(id, opts = {})
      data, _status_code, _headers = v1_pki_certificate_authority_id_get_with_http_info(id, opts)
      data
    end

    # Returns X.509 details of Certificate Authority (CA) with provided ID
    # Returns X.509 details of Certificate Authority (CA) with provided ID
    # @param id [String] UUID of the Certificate Authority (CA)
    # @param [Hash] opts the optional parameters
    # @return [Array<(CertificateRecord, Integer, Hash)>] CertificateRecord data, response status code and response headers
    def v1_pki_certificate_authority_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CertificateAuthorityApi.v1_pki_certificate_authority_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CertificateAuthorityApi.v1_pki_certificate_authority_id_get"
      end
      # resource path
      local_var_path = '/v1/pki/certificate-authority/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CertificateRecord'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"CertificateAuthorityApi.v1_pki_certificate_authority_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CertificateAuthorityApi#v1_pki_certificate_authority_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns current Certificate Authority (CA) with provided ID in PEM format
    # Returns current Certificate Authority (CA) with provided ID in PEM format
    # @param id [String] UUID of the Certificate Authority (CA)
    # @param [Hash] opts the optional parameters
    # @return [File]
    def v1_pki_certificate_authority_id_pem_get(id, opts = {})
      data, _status_code, _headers = v1_pki_certificate_authority_id_pem_get_with_http_info(id, opts)
      data
    end

    # Returns current Certificate Authority (CA) with provided ID in PEM format
    # Returns current Certificate Authority (CA) with provided ID in PEM format
    # @param id [String] UUID of the Certificate Authority (CA)
    # @param [Hash] opts the optional parameters
    # @return [Array<(File, Integer, Hash)>] File data, response status code and response headers
    def v1_pki_certificate_authority_id_pem_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CertificateAuthorityApi.v1_pki_certificate_authority_id_pem_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CertificateAuthorityApi.v1_pki_certificate_authority_id_pem_get"
      end
      # resource path
      local_var_path = '/v1/pki/certificate-authority/{id}/pem'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/pem-certificate-chain', 'application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'File'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"CertificateAuthorityApi.v1_pki_certificate_authority_id_pem_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CertificateAuthorityApi#v1_pki_certificate_authority_id_pem_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
