=begin
#Jamf Pro API

### Overview The Jamf Pro API is a RESTful API for Jamf Pro built to enable consistent and efficient programmatic access to Jamf Pro.<br/><br/> The swagger schema can be found [here](/api/schema/). 

The version of the OpenAPI document: production

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.1.0-SNAPSHOT

=end

require 'cgi'

module JamfPro
  class ComputerInventoryCollectionSettingsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete Custom Path from Computer Inventory Collection Settings
    # Delete Custom Path from Computer Inventory Collection Settings
    # @param id [String] id of Custom Path
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def v1_computer_inventory_collection_settings_custom_path_id_delete(id, opts = {})
      v1_computer_inventory_collection_settings_custom_path_id_delete_with_http_info(id, opts)
      nil
    end

    # Delete Custom Path from Computer Inventory Collection Settings
    # Delete Custom Path from Computer Inventory Collection Settings
    # @param id [String] id of Custom Path
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def v1_computer_inventory_collection_settings_custom_path_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ComputerInventoryCollectionSettingsApi.v1_computer_inventory_collection_settings_custom_path_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ComputerInventoryCollectionSettingsApi.v1_computer_inventory_collection_settings_custom_path_id_delete"
      end
      # resource path
      local_var_path = '/v1/computer-inventory-collection-settings/custom-path/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"ComputerInventoryCollectionSettingsApi.v1_computer_inventory_collection_settings_custom_path_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ComputerInventoryCollectionSettingsApi#v1_computer_inventory_collection_settings_custom_path_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Computer Inventory Collection Settings Custom Path
    # Creates a custom search path to use when collecting applications, fonts, and plug-ins.
    # @param create_path [CreatePath] Computer inventory settings to update
    # @param [Hash] opts the optional parameters
    # @return [HrefResponse]
    def v1_computer_inventory_collection_settings_custom_path_post(create_path, opts = {})
      data, _status_code, _headers = v1_computer_inventory_collection_settings_custom_path_post_with_http_info(create_path, opts)
      data
    end

    # Create Computer Inventory Collection Settings Custom Path
    # Creates a custom search path to use when collecting applications, fonts, and plug-ins.
    # @param create_path [CreatePath] Computer inventory settings to update
    # @param [Hash] opts the optional parameters
    # @return [Array<(HrefResponse, Integer, Hash)>] HrefResponse data, response status code and response headers
    def v1_computer_inventory_collection_settings_custom_path_post_with_http_info(create_path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ComputerInventoryCollectionSettingsApi.v1_computer_inventory_collection_settings_custom_path_post ...'
      end
      # verify the required parameter 'create_path' is set
      if @api_client.config.client_side_validation && create_path.nil?
        fail ArgumentError, "Missing the required parameter 'create_path' when calling ComputerInventoryCollectionSettingsApi.v1_computer_inventory_collection_settings_custom_path_post"
      end
      # resource path
      local_var_path = '/v1/computer-inventory-collection-settings/custom-path'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_path)

      # return_type
      return_type = opts[:debug_return_type] || 'HrefResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"ComputerInventoryCollectionSettingsApi.v1_computer_inventory_collection_settings_custom_path_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ComputerInventoryCollectionSettingsApi#v1_computer_inventory_collection_settings_custom_path_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns computer inventory settings
    # Returns computer inventory settings
    # @param [Hash] opts the optional parameters
    # @return [ComputerInventoryCollectionSettings]
    def v1_computer_inventory_collection_settings_get(opts = {})
      data, _status_code, _headers = v1_computer_inventory_collection_settings_get_with_http_info(opts)
      data
    end

    # Returns computer inventory settings
    # Returns computer inventory settings
    # @param [Hash] opts the optional parameters
    # @return [Array<(ComputerInventoryCollectionSettings, Integer, Hash)>] ComputerInventoryCollectionSettings data, response status code and response headers
    def v1_computer_inventory_collection_settings_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ComputerInventoryCollectionSettingsApi.v1_computer_inventory_collection_settings_get ...'
      end
      # resource path
      local_var_path = '/v1/computer-inventory-collection-settings'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ComputerInventoryCollectionSettings'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"ComputerInventoryCollectionSettingsApi.v1_computer_inventory_collection_settings_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ComputerInventoryCollectionSettingsApi#v1_computer_inventory_collection_settings_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update computer inventory settings
    # Update computer inventory settings
    # @param computer_inventory_collection_settings [ComputerInventoryCollectionSettings] Computer inventory settings to update
    # @param [Hash] opts the optional parameters
    # @return [ComputerInventoryCollectionSettings]
    def v1_computer_inventory_collection_settings_patch(computer_inventory_collection_settings, opts = {})
      data, _status_code, _headers = v1_computer_inventory_collection_settings_patch_with_http_info(computer_inventory_collection_settings, opts)
      data
    end

    # Update computer inventory settings
    # Update computer inventory settings
    # @param computer_inventory_collection_settings [ComputerInventoryCollectionSettings] Computer inventory settings to update
    # @param [Hash] opts the optional parameters
    # @return [Array<(ComputerInventoryCollectionSettings, Integer, Hash)>] ComputerInventoryCollectionSettings data, response status code and response headers
    def v1_computer_inventory_collection_settings_patch_with_http_info(computer_inventory_collection_settings, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ComputerInventoryCollectionSettingsApi.v1_computer_inventory_collection_settings_patch ...'
      end
      # verify the required parameter 'computer_inventory_collection_settings' is set
      if @api_client.config.client_side_validation && computer_inventory_collection_settings.nil?
        fail ArgumentError, "Missing the required parameter 'computer_inventory_collection_settings' when calling ComputerInventoryCollectionSettingsApi.v1_computer_inventory_collection_settings_patch"
      end
      # resource path
      local_var_path = '/v1/computer-inventory-collection-settings'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(computer_inventory_collection_settings)

      # return_type
      return_type = opts[:debug_return_type] || 'ComputerInventoryCollectionSettings'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"ComputerInventoryCollectionSettingsApi.v1_computer_inventory_collection_settings_patch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ComputerInventoryCollectionSettingsApi#v1_computer_inventory_collection_settings_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
