=begin
#Jamf Pro API

### Overview The Jamf Pro API is a RESTful API for Jamf Pro built to enable consistent and efficient programmatic access to Jamf Pro.<br/><br/> The swagger schema can be found [here](/api/schema/). 

The version of the OpenAPI document: production

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.1.0-SNAPSHOT

=end

require 'cgi'

module JamfPro
  class CsaApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete the CSA token exchange - This will disable Jamf Pro's ability to authenticate with cloud-hosted services 
    # Delete the CSA token exchange - This will disable Jamf Pro's ability to authenticate with cloud-hosted services 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def v1_csa_token_delete(opts = {})
      v1_csa_token_delete_with_http_info(opts)
      nil
    end

    # Delete the CSA token exchange - This will disable Jamf Pro&#39;s ability to authenticate with cloud-hosted services 
    # Delete the CSA token exchange - This will disable Jamf Pro&#39;s ability to authenticate with cloud-hosted services 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def v1_csa_token_delete_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CsaApi.v1_csa_token_delete ...'
      end
      # resource path
      local_var_path = '/v1/csa/token'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"CsaApi.v1_csa_token_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CsaApi#v1_csa_token_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get details regarding the CSA token exchange 
    # Get details regarding the CSA token exchange 
    # @param [Hash] opts the optional parameters
    # @return [CsaToken]
    def v1_csa_token_get(opts = {})
      data, _status_code, _headers = v1_csa_token_get_with_http_info(opts)
      data
    end

    # Get details regarding the CSA token exchange 
    # Get details regarding the CSA token exchange 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CsaToken, Integer, Hash)>] CsaToken data, response status code and response headers
    def v1_csa_token_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CsaApi.v1_csa_token_get ...'
      end
      # resource path
      local_var_path = '/v1/csa/token'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CsaToken'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"CsaApi.v1_csa_token_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CsaApi#v1_csa_token_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Initialize the CSA token exchange 
    # Initializes the CSA token exchange - This will allow Jamf Pro to authenticate with cloud-hosted services 
    # @param [Hash] opts the optional parameters
    # @option opts [JamfNationCredentials] :jamf_nation_credentials Jamf Nation username and password 
    # @return [CsaToken]
    def v1_csa_token_post(opts = {})
      data, _status_code, _headers = v1_csa_token_post_with_http_info(opts)
      data
    end

    # Initialize the CSA token exchange 
    # Initializes the CSA token exchange - This will allow Jamf Pro to authenticate with cloud-hosted services 
    # @param [Hash] opts the optional parameters
    # @option opts [JamfNationCredentials] :jamf_nation_credentials Jamf Nation username and password 
    # @return [Array<(CsaToken, Integer, Hash)>] CsaToken data, response status code and response headers
    def v1_csa_token_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CsaApi.v1_csa_token_post ...'
      end
      # resource path
      local_var_path = '/v1/csa/token'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'jamf_nation_credentials'])

      # return_type
      return_type = opts[:debug_return_type] || 'CsaToken'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"CsaApi.v1_csa_token_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CsaApi#v1_csa_token_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Re-initialize the CSA token exchange with new credentials 
    # Re-initialize the CSA token exchange with new credentials 
    # @param [Hash] opts the optional parameters
    # @option opts [JamfNationCredentials] :jamf_nation_credentials Jamf Nation username and password 
    # @return [CsaToken]
    def v1_csa_token_put(opts = {})
      data, _status_code, _headers = v1_csa_token_put_with_http_info(opts)
      data
    end

    # Re-initialize the CSA token exchange with new credentials 
    # Re-initialize the CSA token exchange with new credentials 
    # @param [Hash] opts the optional parameters
    # @option opts [JamfNationCredentials] :jamf_nation_credentials Jamf Nation username and password 
    # @return [Array<(CsaToken, Integer, Hash)>] CsaToken data, response status code and response headers
    def v1_csa_token_put_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CsaApi.v1_csa_token_put ...'
      end
      # resource path
      local_var_path = '/v1/csa/token'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'jamf_nation_credentials'])

      # return_type
      return_type = opts[:debug_return_type] || 'CsaToken'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"CsaApi.v1_csa_token_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CsaApi#v1_csa_token_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
