=begin
#Jamf Pro API

### Overview The Jamf Pro API is a RESTful API for Jamf Pro built to enable consistent and efficient programmatic access to Jamf Pro.<br/><br/> The swagger schema can be found [here](/api/schema/). 

The version of the OpenAPI document: production

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.1.0-SNAPSHOT

=end

require 'cgi'

module JamfPro
  class DeviceEnrollmentsDevicesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Retrieve a list of Devices assigned to the supplied id 
    # Retrieves a list of devices assigned to the supplied id
    # @param id [String] Device Enrollment Instance identifier
    # @param [Hash] opts the optional parameters
    # @return [DeviceEnrollmentDeviceSearchResults]
    def v1_device_enrollments_id_devices_get(id, opts = {})
      data, _status_code, _headers = v1_device_enrollments_id_devices_get_with_http_info(id, opts)
      data
    end

    # Retrieve a list of Devices assigned to the supplied id 
    # Retrieves a list of devices assigned to the supplied id
    # @param id [String] Device Enrollment Instance identifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeviceEnrollmentDeviceSearchResults, Integer, Hash)>] DeviceEnrollmentDeviceSearchResults data, response status code and response headers
    def v1_device_enrollments_id_devices_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeviceEnrollmentsDevicesApi.v1_device_enrollments_id_devices_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DeviceEnrollmentsDevicesApi.v1_device_enrollments_id_devices_get"
      end
      # resource path
      local_var_path = '/v1/device-enrollments/{id}/devices'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeviceEnrollmentDeviceSearchResults'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"DeviceEnrollmentsDevicesApi.v1_device_enrollments_id_devices_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeviceEnrollmentsDevicesApi#v1_device_enrollments_id_devices_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
