=begin
#Jamf Pro API

### Overview The Jamf Pro API is a RESTful API for Jamf Pro built to enable consistent and efficient programmatic access to Jamf Pro.<br/><br/> The swagger schema can be found [here](/api/schema/). 

The version of the OpenAPI document: production

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.1.0-SNAPSHOT

=end

require 'cgi'

module JamfPro
  class MacosManagedSoftwareUpdatesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Retrieve available MacOs Managed Software Updates
    # Retrieves available MacOs Managed Software Updates
    # @param [Hash] opts the optional parameters
    # @return [AvailableUpdates]
    def v1_macos_managed_software_updates_available_updates_get(opts = {})
      data, _status_code, _headers = v1_macos_managed_software_updates_available_updates_get_with_http_info(opts)
      data
    end

    # Retrieve available MacOs Managed Software Updates
    # Retrieves available MacOs Managed Software Updates
    # @param [Hash] opts the optional parameters
    # @return [Array<(AvailableUpdates, Integer, Hash)>] AvailableUpdates data, response status code and response headers
    def v1_macos_managed_software_updates_available_updates_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MacosManagedSoftwareUpdatesApi.v1_macos_managed_software_updates_available_updates_get ...'
      end
      # resource path
      local_var_path = '/v1/macos-managed-software-updates/available-updates'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AvailableUpdates'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"MacosManagedSoftwareUpdatesApi.v1_macos_managed_software_updates_available_updates_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MacosManagedSoftwareUpdatesApi#v1_macos_managed_software_updates_available_updates_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send MacOs Managed Software Updates
    # Sends MacOs Managed Software Updates
    # @param mac_os_managed_software_update [MacOsManagedSoftwareUpdate] MacOs Managed Software Update to send
    # @param [Hash] opts the optional parameters
    # @return [MacOsManagedSoftwareUpdateResponse]
    def v1_macos_managed_software_updates_send_updates_post(mac_os_managed_software_update, opts = {})
      data, _status_code, _headers = v1_macos_managed_software_updates_send_updates_post_with_http_info(mac_os_managed_software_update, opts)
      data
    end

    # Send MacOs Managed Software Updates
    # Sends MacOs Managed Software Updates
    # @param mac_os_managed_software_update [MacOsManagedSoftwareUpdate] MacOs Managed Software Update to send
    # @param [Hash] opts the optional parameters
    # @return [Array<(MacOsManagedSoftwareUpdateResponse, Integer, Hash)>] MacOsManagedSoftwareUpdateResponse data, response status code and response headers
    def v1_macos_managed_software_updates_send_updates_post_with_http_info(mac_os_managed_software_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MacosManagedSoftwareUpdatesApi.v1_macos_managed_software_updates_send_updates_post ...'
      end
      # verify the required parameter 'mac_os_managed_software_update' is set
      if @api_client.config.client_side_validation && mac_os_managed_software_update.nil?
        fail ArgumentError, "Missing the required parameter 'mac_os_managed_software_update' when calling MacosManagedSoftwareUpdatesApi.v1_macos_managed_software_updates_send_updates_post"
      end
      # resource path
      local_var_path = '/v1/macos-managed-software-updates/send-updates'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(mac_os_managed_software_update)

      # return_type
      return_type = opts[:debug_return_type] || 'MacOsManagedSoftwareUpdateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"MacosManagedSoftwareUpdatesApi.v1_macos_managed_software_updates_send_updates_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MacosManagedSoftwareUpdatesApi#v1_macos_managed_software_updates_send_updates_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
