=begin
#Jamf Pro API

### Overview The Jamf Pro API is a RESTful API for Jamf Pro built to enable consistent and efficient programmatic access to Jamf Pro.<br/><br/> The swagger schema can be found [here](/api/schema/). 

The version of the OpenAPI document: production

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.1.0-SNAPSHOT

=end

require 'cgi'

module JamfPro
  class PatchPolicyLogsPreviewApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Return the Patch Policy Attempt details 
    # Returns the patch policy attempt details
    # @param id [Integer] patch policy id
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :device_id device id
    # @return [Array<PatchPolicyAttempt>]
    def patch_patch_policies_id_logs_get(id, opts = {})
      data, _status_code, _headers = patch_patch_policies_id_logs_get_with_http_info(id, opts)
      data
    end

    # Return the Patch Policy Attempt details 
    # Returns the patch policy attempt details
    # @param id [Integer] patch policy id
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :device_id device id
    # @return [Array<(Array<PatchPolicyAttempt>, Integer, Hash)>] Array<PatchPolicyAttempt> data, response status code and response headers
    def patch_patch_policies_id_logs_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PatchPolicyLogsPreviewApi.patch_patch_policies_id_logs_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PatchPolicyLogsPreviewApi.patch_patch_policies_id_logs_get"
      end
      # resource path
      local_var_path = '/patch/patch-policies/{id}/logs'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'device-id'] = opts[:'device_id'] if !opts[:'device_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<PatchPolicyAttempt>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"PatchPolicyLogsPreviewApi.patch_patch_policies_id_logs_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PatchPolicyLogsPreviewApi#patch_patch_policies_id_logs_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
