=begin
#Jamf Pro API

### Overview The Jamf Pro API is a RESTful API for Jamf Pro built to enable consistent and efficient programmatic access to Jamf Pro.<br/><br/> The swagger schema can be found [here](/api/schema/). 

The version of the OpenAPI document: production

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.1.0-SNAPSHOT

=end

require 'cgi'

module JamfPro
  class PoliciesPreviewApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get Policy Properties object 
    # Gets `Policy Properties` object. 
    # @param [Hash] opts the optional parameters
    # @return [PolicyProperties]
    def settings_obj_policy_properties_get(opts = {})
      data, _status_code, _headers = settings_obj_policy_properties_get_with_http_info(opts)
      data
    end

    # Get Policy Properties object 
    # Gets &#x60;Policy Properties&#x60; object. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyProperties, Integer, Hash)>] PolicyProperties data, response status code and response headers
    def settings_obj_policy_properties_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PoliciesPreviewApi.settings_obj_policy_properties_get ...'
      end
      # resource path
      local_var_path = '/settings/obj/policyProperties'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PolicyProperties'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"PoliciesPreviewApi.settings_obj_policy_properties_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PoliciesPreviewApi#settings_obj_policy_properties_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Policy Properties object 
    # Update Policy Properties object 
    # @param policy_properties [PolicyProperties] Policy Properties object to update
    # @param [Hash] opts the optional parameters
    # @return [PolicyProperties]
    def settings_obj_policy_properties_put(policy_properties, opts = {})
      data, _status_code, _headers = settings_obj_policy_properties_put_with_http_info(policy_properties, opts)
      data
    end

    # Update Policy Properties object 
    # Update Policy Properties object 
    # @param policy_properties [PolicyProperties] Policy Properties object to update
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyProperties, Integer, Hash)>] PolicyProperties data, response status code and response headers
    def settings_obj_policy_properties_put_with_http_info(policy_properties, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PoliciesPreviewApi.settings_obj_policy_properties_put ...'
      end
      # verify the required parameter 'policy_properties' is set
      if @api_client.config.client_side_validation && policy_properties.nil?
        fail ArgumentError, "Missing the required parameter 'policy_properties' when calling PoliciesPreviewApi.settings_obj_policy_properties_put"
      end
      # resource path
      local_var_path = '/settings/obj/policyProperties'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(policy_properties)

      # return_type
      return_type = opts[:debug_return_type] || 'PolicyProperties'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"PoliciesPreviewApi.settings_obj_policy_properties_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PoliciesPreviewApi#settings_obj_policy_properties_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Policy Properties object 
    # Gets `Policy Properties` object. 
    # @param [Hash] opts the optional parameters
    # @return [PolicyPropertiesV1]
    def v1_policy_properties_get(opts = {})
      data, _status_code, _headers = v1_policy_properties_get_with_http_info(opts)
      data
    end

    # Get Policy Properties object 
    # Gets &#x60;Policy Properties&#x60; object. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyPropertiesV1, Integer, Hash)>] PolicyPropertiesV1 data, response status code and response headers
    def v1_policy_properties_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PoliciesPreviewApi.v1_policy_properties_get ...'
      end
      # resource path
      local_var_path = '/v1/policy-properties'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PolicyPropertiesV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"PoliciesPreviewApi.v1_policy_properties_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PoliciesPreviewApi#v1_policy_properties_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Policy Properties object 
    # Update Policy Properties object 
    # @param policy_properties_v1 [PolicyPropertiesV1] Policy Properties object to update
    # @param [Hash] opts the optional parameters
    # @return [PolicyPropertiesV1]
    def v1_policy_properties_put(policy_properties_v1, opts = {})
      data, _status_code, _headers = v1_policy_properties_put_with_http_info(policy_properties_v1, opts)
      data
    end

    # Update Policy Properties object 
    # Update Policy Properties object 
    # @param policy_properties_v1 [PolicyPropertiesV1] Policy Properties object to update
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyPropertiesV1, Integer, Hash)>] PolicyPropertiesV1 data, response status code and response headers
    def v1_policy_properties_put_with_http_info(policy_properties_v1, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PoliciesPreviewApi.v1_policy_properties_put ...'
      end
      # verify the required parameter 'policy_properties_v1' is set
      if @api_client.config.client_side_validation && policy_properties_v1.nil?
        fail ArgumentError, "Missing the required parameter 'policy_properties_v1' when calling PoliciesPreviewApi.v1_policy_properties_put"
      end
      # resource path
      local_var_path = '/v1/policy-properties'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(policy_properties_v1)

      # return_type
      return_type = opts[:debug_return_type] || 'PolicyPropertiesV1'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"PoliciesPreviewApi.v1_policy_properties_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PoliciesPreviewApi#v1_policy_properties_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
