=begin
#Jamf Pro API

### Overview The Jamf Pro API is a RESTful API for Jamf Pro built to enable consistent and efficient programmatic access to Jamf Pro.<br/><br/> The swagger schema can be found [here](/api/schema/). 

The version of the OpenAPI document: production

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.1.0-SNAPSHOT

=end

require 'cgi'

module JamfPro
  class SelfServiceBrandingIosApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Search for sorted and paged iOS branding configurations 
    # Search for sorted and paged iOS branding configurations
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 0)
    # @option opts [Integer] :page_size  (default to 100)
    # @option opts [Array<String>] :sort Sorting criteria in the format: property:asc/desc. Default sort is id:asc. Multiple sort criteria are supported and must be separated with a comma. Example: sort&#x3D;id:desc,brandingName:asc 
    # @return [IosBrandingSearchResults]
    def v1_self_service_branding_ios_get(opts = {})
      data, _status_code, _headers = v1_self_service_branding_ios_get_with_http_info(opts)
      data
    end

    # Search for sorted and paged iOS branding configurations 
    # Search for sorted and paged iOS branding configurations
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 0)
    # @option opts [Integer] :page_size  (default to 100)
    # @option opts [Array<String>] :sort Sorting criteria in the format: property:asc/desc. Default sort is id:asc. Multiple sort criteria are supported and must be separated with a comma. Example: sort&#x3D;id:desc,brandingName:asc 
    # @return [Array<(IosBrandingSearchResults, Integer, Hash)>] IosBrandingSearchResults data, response status code and response headers
    def v1_self_service_branding_ios_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SelfServiceBrandingIosApi.v1_self_service_branding_ios_get ...'
      end
      # resource path
      local_var_path = '/v1/self-service/branding/ios'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page-size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sort'] = @api_client.build_collection_param(opts[:'sort'], :multi) if !opts[:'sort'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IosBrandingSearchResults'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"SelfServiceBrandingIosApi.v1_self_service_branding_ios_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SelfServiceBrandingIosApi#v1_self_service_branding_ios_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete the Self Service iOS branding configuration indicated by the provided id 
    # Delete the Self Service iOS branding configuration indicated by the provided id.
    # @param id [String] id of iOS branding configuration
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def v1_self_service_branding_ios_id_delete(id, opts = {})
      v1_self_service_branding_ios_id_delete_with_http_info(id, opts)
      nil
    end

    # Delete the Self Service iOS branding configuration indicated by the provided id 
    # Delete the Self Service iOS branding configuration indicated by the provided id.
    # @param id [String] id of iOS branding configuration
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def v1_self_service_branding_ios_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SelfServiceBrandingIosApi.v1_self_service_branding_ios_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SelfServiceBrandingIosApi.v1_self_service_branding_ios_id_delete"
      end
      # resource path
      local_var_path = '/v1/self-service/branding/ios/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"SelfServiceBrandingIosApi.v1_self_service_branding_ios_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SelfServiceBrandingIosApi#v1_self_service_branding_ios_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Read a single Self Service iOS branding configuration indicated by the provided id 
    # Read a single Self Service iOS branding configuration indicated by the provided id.
    # @param id [String] id of iOS branding configuration
    # @param [Hash] opts the optional parameters
    # @return [IosBrandingConfiguration]
    def v1_self_service_branding_ios_id_get(id, opts = {})
      data, _status_code, _headers = v1_self_service_branding_ios_id_get_with_http_info(id, opts)
      data
    end

    # Read a single Self Service iOS branding configuration indicated by the provided id 
    # Read a single Self Service iOS branding configuration indicated by the provided id.
    # @param id [String] id of iOS branding configuration
    # @param [Hash] opts the optional parameters
    # @return [Array<(IosBrandingConfiguration, Integer, Hash)>] IosBrandingConfiguration data, response status code and response headers
    def v1_self_service_branding_ios_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SelfServiceBrandingIosApi.v1_self_service_branding_ios_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SelfServiceBrandingIosApi.v1_self_service_branding_ios_id_get"
      end
      # resource path
      local_var_path = '/v1/self-service/branding/ios/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IosBrandingConfiguration'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"SelfServiceBrandingIosApi.v1_self_service_branding_ios_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SelfServiceBrandingIosApi#v1_self_service_branding_ios_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a Self Service iOS branding configuration with the supplied details 
    # Update a Self Service iOS branding configuration with the supplied details
    # @param id [String] id of iOS branding configuration
    # @param [Hash] opts the optional parameters
    # @option opts [IosBrandingConfiguration] :ios_branding_configuration The iOS branding configuration values to update
    # @return [IosBrandingConfiguration]
    def v1_self_service_branding_ios_id_put(id, opts = {})
      data, _status_code, _headers = v1_self_service_branding_ios_id_put_with_http_info(id, opts)
      data
    end

    # Update a Self Service iOS branding configuration with the supplied details 
    # Update a Self Service iOS branding configuration with the supplied details
    # @param id [String] id of iOS branding configuration
    # @param [Hash] opts the optional parameters
    # @option opts [IosBrandingConfiguration] :ios_branding_configuration The iOS branding configuration values to update
    # @return [Array<(IosBrandingConfiguration, Integer, Hash)>] IosBrandingConfiguration data, response status code and response headers
    def v1_self_service_branding_ios_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SelfServiceBrandingIosApi.v1_self_service_branding_ios_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SelfServiceBrandingIosApi.v1_self_service_branding_ios_id_put"
      end
      # resource path
      local_var_path = '/v1/self-service/branding/ios/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'ios_branding_configuration'])

      # return_type
      return_type = opts[:debug_return_type] || 'IosBrandingConfiguration'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"SelfServiceBrandingIosApi.v1_self_service_branding_ios_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SelfServiceBrandingIosApi#v1_self_service_branding_ios_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a Self Service iOS branding configuration with the supplied 
    # Create a Self Service iOS branding configuration with the supplied details
    # @param [Hash] opts the optional parameters
    # @option opts [IosBrandingConfiguration] :ios_branding_configuration The iOS branding configuration to create
    # @return [HrefResponse]
    def v1_self_service_branding_ios_post(opts = {})
      data, _status_code, _headers = v1_self_service_branding_ios_post_with_http_info(opts)
      data
    end

    # Create a Self Service iOS branding configuration with the supplied 
    # Create a Self Service iOS branding configuration with the supplied details
    # @param [Hash] opts the optional parameters
    # @option opts [IosBrandingConfiguration] :ios_branding_configuration The iOS branding configuration to create
    # @return [Array<(HrefResponse, Integer, Hash)>] HrefResponse data, response status code and response headers
    def v1_self_service_branding_ios_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SelfServiceBrandingIosApi.v1_self_service_branding_ios_post ...'
      end
      # resource path
      local_var_path = '/v1/self-service/branding/ios'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'ios_branding_configuration'])

      # return_type
      return_type = opts[:debug_return_type] || 'HrefResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"SelfServiceBrandingIosApi.v1_self_service_branding_ios_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SelfServiceBrandingIosApi#v1_self_service_branding_ios_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
