=begin
#Jamf Pro API

### Overview The Jamf Pro API is a RESTful API for Jamf Pro built to enable consistent and efficient programmatic access to Jamf Pro.<br/><br/> The swagger schema can be found [here](/api/schema/). 

The version of the OpenAPI document: production

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.1.0-SNAPSHOT

=end

require 'cgi'

module JamfPro
  class SmartComputerGroupsPreviewApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Recalculate a smart group for the given id 
    # Recalculates a smart group for the given id and then returns the count of smart groups the computer falls into 
    # @param id [Integer] id of computer
    # @param [Hash] opts the optional parameters
    # @return [RecalculationResults]
    def v1_computers_id_recalculate_smart_groups_post(id, opts = {})
      data, _status_code, _headers = v1_computers_id_recalculate_smart_groups_post_with_http_info(id, opts)
      data
    end

    # Recalculate a smart group for the given id 
    # Recalculates a smart group for the given id and then returns the count of smart groups the computer falls into 
    # @param id [Integer] id of computer
    # @param [Hash] opts the optional parameters
    # @return [Array<(RecalculationResults, Integer, Hash)>] RecalculationResults data, response status code and response headers
    def v1_computers_id_recalculate_smart_groups_post_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SmartComputerGroupsPreviewApi.v1_computers_id_recalculate_smart_groups_post ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SmartComputerGroupsPreviewApi.v1_computers_id_recalculate_smart_groups_post"
      end
      # resource path
      local_var_path = '/v1/computers/{id}/recalculate-smart-groups'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RecalculationResults'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"SmartComputerGroupsPreviewApi.v1_computers_id_recalculate_smart_groups_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SmartComputerGroupsPreviewApi#v1_computers_id_recalculate_smart_groups_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Recalculate the smart group for the given id 
    # Recalculates the smart group for the given id and then returns the ids for the computers in the smart group 
    # @param id [Integer] instance id of smart group
    # @param [Hash] opts the optional parameters
    # @return [RecalculationResults]
    def v1_smart_computer_groups_id_recalculate_post(id, opts = {})
      data, _status_code, _headers = v1_smart_computer_groups_id_recalculate_post_with_http_info(id, opts)
      data
    end

    # Recalculate the smart group for the given id 
    # Recalculates the smart group for the given id and then returns the ids for the computers in the smart group 
    # @param id [Integer] instance id of smart group
    # @param [Hash] opts the optional parameters
    # @return [Array<(RecalculationResults, Integer, Hash)>] RecalculationResults data, response status code and response headers
    def v1_smart_computer_groups_id_recalculate_post_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SmartComputerGroupsPreviewApi.v1_smart_computer_groups_id_recalculate_post ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SmartComputerGroupsPreviewApi.v1_smart_computer_groups_id_recalculate_post"
      end
      # resource path
      local_var_path = '/v1/smart-computer-groups/{id}/recalculate'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RecalculationResults'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"SmartComputerGroupsPreviewApi.v1_smart_computer_groups_id_recalculate_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SmartComputerGroupsPreviewApi#v1_smart_computer_groups_id_recalculate_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
