=begin
#Jamf Pro API

### Overview The Jamf Pro API is a RESTful API for Jamf Pro built to enable consistent and efficient programmatic access to Jamf Pro.<br/><br/> The swagger schema can be found [here](/api/schema/). 

The version of the OpenAPI document: production

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.1.0-SNAPSHOT

=end

require 'cgi'

module JamfPro
  class SsoSettingsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Retrieve the list of Enrollment Customizations using SSO 
    # Retrieves the list of Enrollment Customizations using SSO
    # @param [Hash] opts the optional parameters
    # @return [EnrollmentCustomizationDependencies]
    def v1_sso_dependencies_get(opts = {})
      data, _status_code, _headers = v1_sso_dependencies_get_with_http_info(opts)
      data
    end

    # Retrieve the list of Enrollment Customizations using SSO 
    # Retrieves the list of Enrollment Customizations using SSO
    # @param [Hash] opts the optional parameters
    # @return [Array<(EnrollmentCustomizationDependencies, Integer, Hash)>] EnrollmentCustomizationDependencies data, response status code and response headers
    def v1_sso_dependencies_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SsoSettingsApi.v1_sso_dependencies_get ...'
      end
      # resource path
      local_var_path = '/v1/sso/dependencies'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EnrollmentCustomizationDependencies'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"SsoSettingsApi.v1_sso_dependencies_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SsoSettingsApi#v1_sso_dependencies_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Disable SSO 
    # Disable SSO
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def v1_sso_disable_post(opts = {})
      v1_sso_disable_post_with_http_info(opts)
      nil
    end

    # Disable SSO 
    # Disable SSO
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def v1_sso_disable_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SsoSettingsApi.v1_sso_disable_post ...'
      end
      # resource path
      local_var_path = '/v1/sso/disable'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"SsoSettingsApi.v1_sso_disable_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SsoSettingsApi#v1_sso_disable_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve the current Single Sign On configuration settings 
    # Retrieves the current Single Sign On configuration settings
    # @param [Hash] opts the optional parameters
    # @return [SsoSettings]
    def v1_sso_get(opts = {})
      data, _status_code, _headers = v1_sso_get_with_http_info(opts)
      data
    end

    # Retrieve the current Single Sign On configuration settings 
    # Retrieves the current Single Sign On configuration settings
    # @param [Hash] opts the optional parameters
    # @return [Array<(SsoSettings, Integer, Hash)>] SsoSettings data, response status code and response headers
    def v1_sso_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SsoSettingsApi.v1_sso_get ...'
      end
      # resource path
      local_var_path = '/v1/sso'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SsoSettings'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"SsoSettingsApi.v1_sso_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SsoSettingsApi#v1_sso_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get SSO history object 
    # Gets SSO history object 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 0)
    # @option opts [Integer] :page_size  (default to 100)
    # @option opts [Array<String>] :sort Sorting criteria in the format: property:asc/desc. Default sort is date:desc. Multiple sort criteria are supported and must be separated with a comma. Example: sort&#x3D;date:desc,name:asc 
    # @option opts [String] :filter Query in the RSQL format, allowing to filter history notes collection. Default filter is empty query - returning all results for the requested page. Fields allowed in the query: username, date, note, details. This param can be combined with paging and sorting. Example: filter&#x3D;username!&#x3D;admin and details&#x3D;&#x3D;*disabled* and date&lt;2019-12-15 (default to '')
    # @return [HistorySearchResults]
    def v1_sso_history_get(opts = {})
      data, _status_code, _headers = v1_sso_history_get_with_http_info(opts)
      data
    end

    # Get SSO history object 
    # Gets SSO history object 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 0)
    # @option opts [Integer] :page_size  (default to 100)
    # @option opts [Array<String>] :sort Sorting criteria in the format: property:asc/desc. Default sort is date:desc. Multiple sort criteria are supported and must be separated with a comma. Example: sort&#x3D;date:desc,name:asc 
    # @option opts [String] :filter Query in the RSQL format, allowing to filter history notes collection. Default filter is empty query - returning all results for the requested page. Fields allowed in the query: username, date, note, details. This param can be combined with paging and sorting. Example: filter&#x3D;username!&#x3D;admin and details&#x3D;&#x3D;*disabled* and date&lt;2019-12-15 (default to '')
    # @return [Array<(HistorySearchResults, Integer, Hash)>] HistorySearchResults data, response status code and response headers
    def v1_sso_history_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SsoSettingsApi.v1_sso_history_get ...'
      end
      # resource path
      local_var_path = '/v1/sso/history'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page-size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sort'] = @api_client.build_collection_param(opts[:'sort'], :multi) if !opts[:'sort'].nil?
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'HistorySearchResults'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"SsoSettingsApi.v1_sso_history_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SsoSettingsApi#v1_sso_history_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add SSO history object notes 
    # Adds SSO history object notes
    # @param object_history_note [ObjectHistoryNote] history notes to create
    # @param [Hash] opts the optional parameters
    # @return [HrefResponse]
    def v1_sso_history_post(object_history_note, opts = {})
      data, _status_code, _headers = v1_sso_history_post_with_http_info(object_history_note, opts)
      data
    end

    # Add SSO history object notes 
    # Adds SSO history object notes
    # @param object_history_note [ObjectHistoryNote] history notes to create
    # @param [Hash] opts the optional parameters
    # @return [Array<(HrefResponse, Integer, Hash)>] HrefResponse data, response status code and response headers
    def v1_sso_history_post_with_http_info(object_history_note, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SsoSettingsApi.v1_sso_history_post ...'
      end
      # verify the required parameter 'object_history_note' is set
      if @api_client.config.client_side_validation && object_history_note.nil?
        fail ArgumentError, "Missing the required parameter 'object_history_note' when calling SsoSettingsApi.v1_sso_history_post"
      end
      # resource path
      local_var_path = '/v1/sso/history'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(object_history_note)

      # return_type
      return_type = opts[:debug_return_type] || 'HrefResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"SsoSettingsApi.v1_sso_history_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SsoSettingsApi#v1_sso_history_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Download the Jamf Pro SAML metadata file 
    # Download the Jamf Pro SAML metadata file
    # @param [Hash] opts the optional parameters
    # @return [File]
    def v1_sso_metadata_download_get(opts = {})
      data, _status_code, _headers = v1_sso_metadata_download_get_with_http_info(opts)
      data
    end

    # Download the Jamf Pro SAML metadata file 
    # Download the Jamf Pro SAML metadata file
    # @param [Hash] opts the optional parameters
    # @return [Array<(File, Integer, Hash)>] File data, response status code and response headers
    def v1_sso_metadata_download_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SsoSettingsApi.v1_sso_metadata_download_get ...'
      end
      # resource path
      local_var_path = '/v1/sso/metadata/download'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'File'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"SsoSettingsApi.v1_sso_metadata_download_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SsoSettingsApi#v1_sso_metadata_download_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates the current Single Sign On configuration settings 
    # Updates the current Single Sign On configuration settings
    # @param sso_settings [SsoSettings] 
    # @param [Hash] opts the optional parameters
    # @return [SsoSettings]
    def v1_sso_put(sso_settings, opts = {})
      data, _status_code, _headers = v1_sso_put_with_http_info(sso_settings, opts)
      data
    end

    # Updates the current Single Sign On configuration settings 
    # Updates the current Single Sign On configuration settings
    # @param sso_settings [SsoSettings] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SsoSettings, Integer, Hash)>] SsoSettings data, response status code and response headers
    def v1_sso_put_with_http_info(sso_settings, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SsoSettingsApi.v1_sso_put ...'
      end
      # verify the required parameter 'sso_settings' is set
      if @api_client.config.client_side_validation && sso_settings.nil?
        fail ArgumentError, "Missing the required parameter 'sso_settings' when calling SsoSettingsApi.v1_sso_put"
      end
      # resource path
      local_var_path = '/v1/sso'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(sso_settings)

      # return_type
      return_type = opts[:debug_return_type] || 'SsoSettings'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"SsoSettingsApi.v1_sso_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SsoSettingsApi#v1_sso_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Endpoint for validation of a saml metadata url 
    # Validation of a content available under provided metadata URL.
    # @param sso_metadata_url [SsoMetadataUrl] url to validate
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def v1_sso_validate_post(sso_metadata_url, opts = {})
      v1_sso_validate_post_with_http_info(sso_metadata_url, opts)
      nil
    end

    # Endpoint for validation of a saml metadata url 
    # Validation of a content available under provided metadata URL.
    # @param sso_metadata_url [SsoMetadataUrl] url to validate
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def v1_sso_validate_post_with_http_info(sso_metadata_url, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SsoSettingsApi.v1_sso_validate_post ...'
      end
      # verify the required parameter 'sso_metadata_url' is set
      if @api_client.config.client_side_validation && sso_metadata_url.nil?
        fail ArgumentError, "Missing the required parameter 'sso_metadata_url' when calling SsoSettingsApi.v1_sso_validate_post"
      end
      # resource path
      local_var_path = '/v1/sso/validate'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(sso_metadata_url)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"SsoSettingsApi.v1_sso_validate_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SsoSettingsApi#v1_sso_validate_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
