=begin
#Jamf Pro API

### Overview The Jamf Pro API is a RESTful API for Jamf Pro built to enable consistent and efficient programmatic access to Jamf Pro.<br/><br/> The swagger schema can be found [here](/api/schema/). 

The version of the OpenAPI document: production

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.1.0-SNAPSHOT

=end

require 'cgi'

module JamfPro
  class VenafiPreviewApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Tests the communication between Jamf Pro and a Jamf Pro PKI Proxy Server 
    # Tests the communication between Jamf Pro and a Jamf Pro PKI Proxy Server 
    # @param id [String] ID of the Venafi configuration
    # @param [Hash] opts the optional parameters
    # @return [VenafiServiceStatus]
    def v1_pki_venafi_id_connection_status_get(id, opts = {})
      data, _status_code, _headers = v1_pki_venafi_id_connection_status_get_with_http_info(id, opts)
      data
    end

    # Tests the communication between Jamf Pro and a Jamf Pro PKI Proxy Server 
    # Tests the communication between Jamf Pro and a Jamf Pro PKI Proxy Server 
    # @param id [String] ID of the Venafi configuration
    # @param [Hash] opts the optional parameters
    # @return [Array<(VenafiServiceStatus, Integer, Hash)>] VenafiServiceStatus data, response status code and response headers
    def v1_pki_venafi_id_connection_status_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VenafiPreviewApi.v1_pki_venafi_id_connection_status_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VenafiPreviewApi.v1_pki_venafi_id_connection_status_get"
      end
      # resource path
      local_var_path = '/v1/pki/venafi/{id}/connection-status'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VenafiServiceStatus'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"VenafiPreviewApi.v1_pki_venafi_id_connection_status_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VenafiPreviewApi#v1_pki_venafi_id_connection_status_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a Venafi PKI configuration from Jamf Pro 
    # Delete a Venafi PKI configuration from Jamf Pro 
    # @param id [String] ID of the Venafi configuration
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def v1_pki_venafi_id_delete(id, opts = {})
      v1_pki_venafi_id_delete_with_http_info(id, opts)
      nil
    end

    # Delete a Venafi PKI configuration from Jamf Pro 
    # Delete a Venafi PKI configuration from Jamf Pro 
    # @param id [String] ID of the Venafi configuration
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def v1_pki_venafi_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VenafiPreviewApi.v1_pki_venafi_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VenafiPreviewApi.v1_pki_venafi_id_delete"
      end
      # resource path
      local_var_path = '/v1/pki/venafi/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"VenafiPreviewApi.v1_pki_venafi_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VenafiPreviewApi#v1_pki_venafi_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get configuration profile data using specified Venafi CA object 
    # Get configuration profile data using specified Venafi CA object 
    # @param id [String] ID of the Venafi configuration
    # @param [Hash] opts the optional parameters
    # @return [VenafiPkiPayloadRecordSearchResults]
    def v1_pki_venafi_id_dependent_profiles_get(id, opts = {})
      data, _status_code, _headers = v1_pki_venafi_id_dependent_profiles_get_with_http_info(id, opts)
      data
    end

    # Get configuration profile data using specified Venafi CA object 
    # Get configuration profile data using specified Venafi CA object 
    # @param id [String] ID of the Venafi configuration
    # @param [Hash] opts the optional parameters
    # @return [Array<(VenafiPkiPayloadRecordSearchResults, Integer, Hash)>] VenafiPkiPayloadRecordSearchResults data, response status code and response headers
    def v1_pki_venafi_id_dependent_profiles_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VenafiPreviewApi.v1_pki_venafi_id_dependent_profiles_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VenafiPreviewApi.v1_pki_venafi_id_dependent_profiles_get"
      end
      # resource path
      local_var_path = '/v1/pki/venafi/{id}/dependent-profiles'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VenafiPkiPayloadRecordSearchResults'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"VenafiPreviewApi.v1_pki_venafi_id_dependent_profiles_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VenafiPreviewApi#v1_pki_venafi_id_dependent_profiles_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a Venafi PKI configuration from Jamf Pro 
    # Retrieve a Venafi PKI configuration from Jamf Pro 
    # @param id [String] ID of the Venafi configuration
    # @param [Hash] opts the optional parameters
    # @return [VenafiCaRecord]
    def v1_pki_venafi_id_get(id, opts = {})
      data, _status_code, _headers = v1_pki_venafi_id_get_with_http_info(id, opts)
      data
    end

    # Retrieve a Venafi PKI configuration from Jamf Pro 
    # Retrieve a Venafi PKI configuration from Jamf Pro 
    # @param id [String] ID of the Venafi configuration
    # @param [Hash] opts the optional parameters
    # @return [Array<(VenafiCaRecord, Integer, Hash)>] VenafiCaRecord data, response status code and response headers
    def v1_pki_venafi_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VenafiPreviewApi.v1_pki_venafi_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VenafiPreviewApi.v1_pki_venafi_id_get"
      end
      # resource path
      local_var_path = '/v1/pki/venafi/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VenafiCaRecord'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"VenafiPreviewApi.v1_pki_venafi_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VenafiPreviewApi#v1_pki_venafi_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get specified Venafi CA history object 
    # Get specified Venafi CA history object 
    # @param id [String] ID of the Venafi configuration
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 0)
    # @option opts [Integer] :page_size  (default to 100)
    # @option opts [Array<String>] :sort Sorting criteria in the format: property:asc/desc. Default sort is date:desc. Multiple sort criteria are supported and must be separated with a comma. Example: sort&#x3D;date:desc,name:asc 
    # @option opts [String] :filter Query in the RSQL format, allowing to filter history notes collection. Default filter is empty query - returning all results for the requested page. Fields allowed in the query: username, date, note, details. This param can be combined with paging and sorting. Example: filter&#x3D;username!&#x3D;admin and details&#x3D;&#x3D;*disabled* and date&lt;2019-12-15 (default to '')
    # @return [HistorySearchResults]
    def v1_pki_venafi_id_history_get(id, opts = {})
      data, _status_code, _headers = v1_pki_venafi_id_history_get_with_http_info(id, opts)
      data
    end

    # Get specified Venafi CA history object 
    # Get specified Venafi CA history object 
    # @param id [String] ID of the Venafi configuration
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 0)
    # @option opts [Integer] :page_size  (default to 100)
    # @option opts [Array<String>] :sort Sorting criteria in the format: property:asc/desc. Default sort is date:desc. Multiple sort criteria are supported and must be separated with a comma. Example: sort&#x3D;date:desc,name:asc 
    # @option opts [String] :filter Query in the RSQL format, allowing to filter history notes collection. Default filter is empty query - returning all results for the requested page. Fields allowed in the query: username, date, note, details. This param can be combined with paging and sorting. Example: filter&#x3D;username!&#x3D;admin and details&#x3D;&#x3D;*disabled* and date&lt;2019-12-15 (default to '')
    # @return [Array<(HistorySearchResults, Integer, Hash)>] HistorySearchResults data, response status code and response headers
    def v1_pki_venafi_id_history_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VenafiPreviewApi.v1_pki_venafi_id_history_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VenafiPreviewApi.v1_pki_venafi_id_history_get"
      end
      # resource path
      local_var_path = '/v1/pki/venafi/{id}/history'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page-size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sort'] = @api_client.build_collection_param(opts[:'sort'], :multi) if !opts[:'sort'].nil?
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'HistorySearchResults'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"VenafiPreviewApi.v1_pki_venafi_id_history_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VenafiPreviewApi#v1_pki_venafi_id_history_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add specified Venafi CA Object Note 
    # Adds specified Venafi CA Object Note 
    # @param id [String] instance id of department history record
    # @param object_history_note [ObjectHistoryNote] venafi ca history notes to create
    # @param [Hash] opts the optional parameters
    # @return [HrefResponse]
    def v1_pki_venafi_id_history_post(id, object_history_note, opts = {})
      data, _status_code, _headers = v1_pki_venafi_id_history_post_with_http_info(id, object_history_note, opts)
      data
    end

    # Add specified Venafi CA Object Note 
    # Adds specified Venafi CA Object Note 
    # @param id [String] instance id of department history record
    # @param object_history_note [ObjectHistoryNote] venafi ca history notes to create
    # @param [Hash] opts the optional parameters
    # @return [Array<(HrefResponse, Integer, Hash)>] HrefResponse data, response status code and response headers
    def v1_pki_venafi_id_history_post_with_http_info(id, object_history_note, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VenafiPreviewApi.v1_pki_venafi_id_history_post ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VenafiPreviewApi.v1_pki_venafi_id_history_post"
      end
      # verify the required parameter 'object_history_note' is set
      if @api_client.config.client_side_validation && object_history_note.nil?
        fail ArgumentError, "Missing the required parameter 'object_history_note' when calling VenafiPreviewApi.v1_pki_venafi_id_history_post"
      end
      # resource path
      local_var_path = '/v1/pki/venafi/{id}/history'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(object_history_note)

      # return_type
      return_type = opts[:debug_return_type] || 'HrefResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"VenafiPreviewApi.v1_pki_venafi_id_history_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VenafiPreviewApi#v1_pki_venafi_id_history_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Downloads a certificate used to secure communication between Jamf Pro and a Jamf Pro PKI Proxy Server 
    # Downloads a certificate for an existing Venafi configuration that can be used to secure communication between Jamf Pro and a Jamf Pro PKI Proxy Server 
    # @param id [String] ID of the Venafi configuration
    # @param [Hash] opts the optional parameters
    # @return [File]
    def v1_pki_venafi_id_jamf_public_key_get(id, opts = {})
      data, _status_code, _headers = v1_pki_venafi_id_jamf_public_key_get_with_http_info(id, opts)
      data
    end

    # Downloads a certificate used to secure communication between Jamf Pro and a Jamf Pro PKI Proxy Server 
    # Downloads a certificate for an existing Venafi configuration that can be used to secure communication between Jamf Pro and a Jamf Pro PKI Proxy Server 
    # @param id [String] ID of the Venafi configuration
    # @param [Hash] opts the optional parameters
    # @return [Array<(File, Integer, Hash)>] File data, response status code and response headers
    def v1_pki_venafi_id_jamf_public_key_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VenafiPreviewApi.v1_pki_venafi_id_jamf_public_key_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VenafiPreviewApi.v1_pki_venafi_id_jamf_public_key_get"
      end
      # resource path
      local_var_path = '/v1/pki/venafi/{id}/jamf-public-key'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/pem-certificate-chain', 'application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'File'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"VenafiPreviewApi.v1_pki_venafi_id_jamf_public_key_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VenafiPreviewApi#v1_pki_venafi_id_jamf_public_key_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Regenerates a certificate used to secure communication between Jamf Pro and a Jamf Pro PKI Proxy Server 
    # Regenerates a certificate for an existing Venafi configuration that can be used to secure communication between Jamf Pro and a Jamf Pro PKI Proxy Server 
    # @param id [String] ID of the Venafi configuration
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def v1_pki_venafi_id_jamf_public_key_regenerate_post(id, opts = {})
      v1_pki_venafi_id_jamf_public_key_regenerate_post_with_http_info(id, opts)
      nil
    end

    # Regenerates a certificate used to secure communication between Jamf Pro and a Jamf Pro PKI Proxy Server 
    # Regenerates a certificate for an existing Venafi configuration that can be used to secure communication between Jamf Pro and a Jamf Pro PKI Proxy Server 
    # @param id [String] ID of the Venafi configuration
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def v1_pki_venafi_id_jamf_public_key_regenerate_post_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VenafiPreviewApi.v1_pki_venafi_id_jamf_public_key_regenerate_post ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VenafiPreviewApi.v1_pki_venafi_id_jamf_public_key_regenerate_post"
      end
      # resource path
      local_var_path = '/v1/pki/venafi/{id}/jamf-public-key/regenerate'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"VenafiPreviewApi.v1_pki_venafi_id_jamf_public_key_regenerate_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VenafiPreviewApi#v1_pki_venafi_id_jamf_public_key_regenerate_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a Venafi PKI configuration in Jamf Pro 
    # Update a Venafi PKI configuration in Jamf Pro 
    # @param id [String] ID of the Venafi configuration
    # @param venafi_ca_record [VenafiCaRecord] 
    # @param [Hash] opts the optional parameters
    # @return [VenafiCaRecord]
    def v1_pki_venafi_id_patch(id, venafi_ca_record, opts = {})
      data, _status_code, _headers = v1_pki_venafi_id_patch_with_http_info(id, venafi_ca_record, opts)
      data
    end

    # Update a Venafi PKI configuration in Jamf Pro 
    # Update a Venafi PKI configuration in Jamf Pro 
    # @param id [String] ID of the Venafi configuration
    # @param venafi_ca_record [VenafiCaRecord] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(VenafiCaRecord, Integer, Hash)>] VenafiCaRecord data, response status code and response headers
    def v1_pki_venafi_id_patch_with_http_info(id, venafi_ca_record, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VenafiPreviewApi.v1_pki_venafi_id_patch ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VenafiPreviewApi.v1_pki_venafi_id_patch"
      end
      # verify the required parameter 'venafi_ca_record' is set
      if @api_client.config.client_side_validation && venafi_ca_record.nil?
        fail ArgumentError, "Missing the required parameter 'venafi_ca_record' when calling VenafiPreviewApi.v1_pki_venafi_id_patch"
      end
      # resource path
      local_var_path = '/v1/pki/venafi/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(venafi_ca_record)

      # return_type
      return_type = opts[:debug_return_type] || 'VenafiCaRecord'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"VenafiPreviewApi.v1_pki_venafi_id_patch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VenafiPreviewApi#v1_pki_venafi_id_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Removes the PKI Proxy Server public key used to secure communication between Jamf Pro and a Jamf Pro PKI Proxy Server 
    # Removes the uploaded PKI Proxy Server public key to do basic TLS certificate validation between Jamf Pro and a Jamf Pro PKI Proxy Server 
    # @param id [String] ID of the Venafi configuration
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def v1_pki_venafi_id_proxy_trust_store_delete(id, opts = {})
      v1_pki_venafi_id_proxy_trust_store_delete_with_http_info(id, opts)
      nil
    end

    # Removes the PKI Proxy Server public key used to secure communication between Jamf Pro and a Jamf Pro PKI Proxy Server 
    # Removes the uploaded PKI Proxy Server public key to do basic TLS certificate validation between Jamf Pro and a Jamf Pro PKI Proxy Server 
    # @param id [String] ID of the Venafi configuration
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def v1_pki_venafi_id_proxy_trust_store_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VenafiPreviewApi.v1_pki_venafi_id_proxy_trust_store_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VenafiPreviewApi.v1_pki_venafi_id_proxy_trust_store_delete"
      end
      # resource path
      local_var_path = '/v1/pki/venafi/{id}/proxy-trust-store'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"VenafiPreviewApi.v1_pki_venafi_id_proxy_trust_store_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VenafiPreviewApi#v1_pki_venafi_id_proxy_trust_store_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Downloads the PKI Proxy Server public key to secure communication between Jamf Pro and a Jamf Pro PKI Proxy Server 
    # Downloads the uploaded PKI Proxy Server public key to do basic TLS certificate validation between Jamf Pro and a Jamf Pro PKI Proxy Server 
    # @param id [String] ID of the Venafi configuration
    # @param [Hash] opts the optional parameters
    # @return [File]
    def v1_pki_venafi_id_proxy_trust_store_get(id, opts = {})
      data, _status_code, _headers = v1_pki_venafi_id_proxy_trust_store_get_with_http_info(id, opts)
      data
    end

    # Downloads the PKI Proxy Server public key to secure communication between Jamf Pro and a Jamf Pro PKI Proxy Server 
    # Downloads the uploaded PKI Proxy Server public key to do basic TLS certificate validation between Jamf Pro and a Jamf Pro PKI Proxy Server 
    # @param id [String] ID of the Venafi configuration
    # @param [Hash] opts the optional parameters
    # @return [Array<(File, Integer, Hash)>] File data, response status code and response headers
    def v1_pki_venafi_id_proxy_trust_store_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VenafiPreviewApi.v1_pki_venafi_id_proxy_trust_store_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VenafiPreviewApi.v1_pki_venafi_id_proxy_trust_store_get"
      end
      # resource path
      local_var_path = '/v1/pki/venafi/{id}/proxy-trust-store'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/pem-certificate-chain', 'application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'File'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"VenafiPreviewApi.v1_pki_venafi_id_proxy_trust_store_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VenafiPreviewApi#v1_pki_venafi_id_proxy_trust_store_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Uploads the PKI Proxy Server public key to secure communication between Jamf Pro and a Jamf Pro PKI Proxy Server 
    # Uploads the PKI Proxy Server public key to do basic TLS certificate validation between Jamf Pro and a Jamf Pro PKI Proxy Server 
    # @param id [String] ID of the Venafi configuration
    # @param body [File] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def v1_pki_venafi_id_proxy_trust_store_post(id, body, opts = {})
      v1_pki_venafi_id_proxy_trust_store_post_with_http_info(id, body, opts)
      nil
    end

    # Uploads the PKI Proxy Server public key to secure communication between Jamf Pro and a Jamf Pro PKI Proxy Server 
    # Uploads the PKI Proxy Server public key to do basic TLS certificate validation between Jamf Pro and a Jamf Pro PKI Proxy Server 
    # @param id [String] ID of the Venafi configuration
    # @param body [File] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def v1_pki_venafi_id_proxy_trust_store_post_with_http_info(id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VenafiPreviewApi.v1_pki_venafi_id_proxy_trust_store_post ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VenafiPreviewApi.v1_pki_venafi_id_proxy_trust_store_post"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling VenafiPreviewApi.v1_pki_venafi_id_proxy_trust_store_post"
      end
      # resource path
      local_var_path = '/v1/pki/venafi/{id}/proxy-trust-store'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/pem-certificate-chain'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"VenafiPreviewApi.v1_pki_venafi_id_proxy_trust_store_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VenafiPreviewApi#v1_pki_venafi_id_proxy_trust_store_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a PKI configuration in Jamf Pro for Venafi 
    # Creates a Venafi PKI configuration in Jamf Pro, which can be used to issue certificates 
    # @param venafi_ca_record [VenafiCaRecord] 
    # @param [Hash] opts the optional parameters
    # @return [HrefResponse]
    def v1_pki_venafi_post(venafi_ca_record, opts = {})
      data, _status_code, _headers = v1_pki_venafi_post_with_http_info(venafi_ca_record, opts)
      data
    end

    # Create a PKI configuration in Jamf Pro for Venafi 
    # Creates a Venafi PKI configuration in Jamf Pro, which can be used to issue certificates 
    # @param venafi_ca_record [VenafiCaRecord] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(HrefResponse, Integer, Hash)>] HrefResponse data, response status code and response headers
    def v1_pki_venafi_post_with_http_info(venafi_ca_record, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VenafiPreviewApi.v1_pki_venafi_post ...'
      end
      # verify the required parameter 'venafi_ca_record' is set
      if @api_client.config.client_side_validation && venafi_ca_record.nil?
        fail ArgumentError, "Missing the required parameter 'venafi_ca_record' when calling VenafiPreviewApi.v1_pki_venafi_post"
      end
      # resource path
      local_var_path = '/v1/pki/venafi'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(venafi_ca_record)

      # return_type
      return_type = opts[:debug_return_type] || 'HrefResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"VenafiPreviewApi.v1_pki_venafi_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VenafiPreviewApi#v1_pki_venafi_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
